/* HEADER */

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    padding: 1%;
}

.nav-center {
    margin-left: auto;
    margin-right: auto;
}

.nav-center h3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn {
    border: 1px solid navy;
}

.subnavbar {
    display: flex;
    justify-content: center;
    padding: 0.3%;
    width: 80%;
    border-radius: 0px 0px 30px 30px;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
}


/*
.subnavbar ul {
    display: flex;
justify-content: space-between;
    }

.subnavbar li {
    display: flex;
    justify-content: space-between;
} */

.subnavbar ul {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0.3%;
}

.subnavbar li {
    display: block;
    flex: 0 1 auto;
    /* Default */
    list-style-type: none;
}


/* MAIN */


/* FOOTER */

footer {
    position: fixed;
    bottom: 0px;
    background-color: pink;
    width: 100%;
    text-align: center;
    padding: 0.3em;
}

.horizontal-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.horizontal-section li {
    display: inline-flex;
}

.vertical-sections {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}