.circle {
    position: absolute;
    border-radius: 100% 100% 0 0;
    height: 100%;
    width: 100%;
    background-color: lightblue;
}

main {
    
}

.top-left {
    width: 25%;
    display: flex;
    justify-content: flex-start;
}

.top-center {
    width: 50%;
    display: flex;
    justify-content: center;
}

.top-right {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

i {
    padding: 0.2rem;
}

a i {
    border-left: 0.1rem solid gray;
}

.user-button {
    border: 0.1rem solid pink;
    border-radius: 10%;
}

.header {
    display: flex;
    flex-direction: row;
}

.btn-group-user {
    position: relative;
    display: inline-block;
    text-align: left;
  }
  
  .x-button {
    position: relative;
    margin: 0;
    height: 30px;
    float: left;
    outline: none;
    line-height: 27px;
    background: #F2F2F2;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 1px 2px #E0E0E0;
  }
  
  .x-button:hover {
    cursor: pointer;
    background: #E0E0E0;
  }
  
  .x-button:active {
    background: #D3D3D3;
  }
  
  .x-button.x-button-drop {
    border-left: 0;
    height: 30px;
  }
  
  .open > .x-button-drop-menu {
    display: block;
  }
  
  .x-button-drop-menu {
    position: absolute;
    top: 27px;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #F2F2F2;
    background-clip: padding-box;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 1px 2px #E0E0E0;
  }
  
  .x-button-drop-menu li a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-family: arial;
    color: #444;
    text-decoration: none;
  }
  
  .x-button-drop-menu li a:hover {
    background: #D3D3D3;
  }